__pycache__/

.DS_Store
__MACOSX/

.vscode/
*.nbconvert.ipynb
*/.ipynb_checkpoints/
.ipynb_checkpoints/

Embeddings/*
!Embeddings/.gitkeep

Predictions/*
!Predictions/.gitkeep

Keys/*
!Keys/.gitkeep

.joblib_cache/

logs.log
